.fifth_page {
    background-color: #754f7e;
    height: 60vw;
    overflow-y: hidden;
}
.fifth_page .text-box {
    top: 16vw;
    left: 6vw;
    color: #b6ebe0;
}
.clipboard {
    background: url(../donedone/donedone/res-img/page-home-clipboard.png) no-repeat;
    background-size: contain;
    height: 70vw;
    width: 43vw;
    position: relative;
    bottom: 20vw;
    left: 50vw;
}
.clipboard-content {
    position:relative;
    top: 10vw;
    left: 4vw;
}
.form-header {
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    color: #6a4676;
    font-weight: 800;
    font-size: 1.6vw;
    margin: 0.5vw 0;
}
.form-text {
    color: #3d2143;
    font-size: 1vw;
}
.form input, select{
    width: 75%;
    height: 3.5vw;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #754f7e;
    border-radius: 6px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #4b3051;
    color: #754f7e;
}
.form::placeholder {
    color: #754f7e;
}
.form {
    margin: 1vw 0;
}
.under-form {
    display: flex;
    margin-top: 1vw;
    width: 75%;
}
.under-form .form-text {
    margin-left: auto;
}
