footer {
    background-color: #2b232d;
    height: 22vw;
    padding: 0 6vw;
}
.footer_upper {
    height: 14vw;
    border-bottom: 1px solid #cc9dd8;
    display: flex;
}
.footer_cup {
    background: url(../donedone/donedone/res-img/footer-cup.png) no-repeat;
    background-size: contain;
    height: 13vw;
    width: 13vw;
    margin: 3vw 2vw 0 0;
}
.footer_text_box {
    height: 12vw;
    width: 12vw;
    margin: 3vw 1vw 0 1vw;
}
.footer_text_box_top {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 1.2vw;
    color: #cc9dd8;
}
.footer_text_box_bottom {
    font-size: 85%;
    margin-top: 0.5vw;
    color: #754f7e;
}
.footer_icons {
    display: flex;
    margin: 3vw 1vw 0 auto;
}
.footer-icon {
    height: 1vw;
    width: 1vw;
    border-radius: 50%;
    background-color: #754f7e;
    color: #2b232d;
    font-size: 1.3vw;
    padding:0.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.8vw;
}
.footer_lower {
    display: flex;
    color: #cc9dd8;
    font-family: 'Nunito', sans-serif;
}
.footer_top_menu {
    text-transform: uppercase;
    font-weight: bolder;
}
.footer_bottom_menu {
    font-size: 0.75em;
}
.footer_lower ul{
    list-style-type: none;
    display: flex;
    padding: 0;
}
.footer_lower li {
    margin-right: 2vw;
}
.footer-wrench-and-rights {
    display: flex;
    margin-top: 2vw;
    margin-left: auto;
    font-size: 0.75em;
    line-height: 2em;
}
.footer-wrench {
    background: url(../donedone/donedone/res-img/footer-wrench.png) no-repeat;
    background-size: contain;
    height: 4vw;
    width: 6vw;
    margin-right: 0.5vw;
}