.third_page {
    background-color: #fec552;
    height: 60vw;
}
.third_page .text-box {
    top: 16vw;
    left: 6vw;
    color: #e76a20;
}
.third-page-logos{
    background: url(../donedone/donedone/res-img/home-logos-2.png) no-repeat;
    background-size:contain;
    height: 15vw;
    width: 30vw;
    position: relative;
    top: 12vw;
    left: 6vw;
    margin-top: 1vw;
}
.third-page-quote {
    height: 15vw;
    width: 28vw;
    position: relative;
}
.top-quote {
    background: url(../donedone/donedone/res-img/page-home-quote1.png) no-repeat;
    background-size:contain;
    left: 52vw;
    bottom: 33vw;
    display: flex;
}
.middle-quote {
    background: url(../donedone/donedone/res-img/page-home-quote2.png) no-repeat;
    background-size:contain;
    left: 48vw;
    bottom: 34vw;
}
.bottom-quote {
    background: url(../donedone/donedone/res-img/page-home-quote3.png) no-repeat;
    background-size:contain;
    left: 47vw;
    bottom: 30vw;
}
.quote-text-one {
    font-size: 1vw;
    width:100%;
    color: #fec552;
    position: relative;
    top: 4.5vw;
    left: 2vw;
}
.quote-text-two {
    font-family: 'Nunito', sans-serif;
    color: #b54d10;
    font-weight: bold;
    position: relative;
    font-size: 0.8vw;
}
.bottom-quote .quote-text-one {
    top: 2vw;
    left: 2vw;
}
.top-quote .quote-text-two {
    top: 5vw;
    right: 2vw;
}
.middle-quote .quote-text-two {
    top: 5vw;
    left: 2vw;
}
.bottom-quote .quote-text-two {
    top: 3vw;
    left: 2vw;
}
.third-page-icon {
    height: 4vw;
    width: 4vw;
    position: relative;
}
.quote-moosylvania {
    background: url(../donedone/donedone/res-img/quote-moosylvania.jpg) no-repeat;
    background-size:contain;
    left: 77vw;
    bottom: 64vw;
}
.quote-bigspaceship {
    background: url(../donedone/donedone/res-img/quote-bigspaceship.png) no-repeat;
    background-size:contain;
    left:76vw;
    bottom: 46vw;
}
.quote-ehousesudio {
    background: url(../donedone/donedone/res-img/quote-ehousestudio.png) no-repeat;
    background-size:contain;
    left: 73vw;
    bottom: 56.5vw;
}